html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', 'Trebuchet MS', Arial;
  font-size: 14px;
  color: #2c2c2c;
}
body {
  min-width: 900px;
  overflow-x: auto;
  background-color: #f2f4f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
input {
  outline: none;
  padding: 0;
  border: none;
}
.cursor_pointer {
  cursor: pointer;
}
.display_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.require_label span.red {
  color: red;
  margin-left: 5px;
}
